* {
    margin: 0;
    padding: 0;
}


.grid-container {
    display: grid;
    /*height: 400px;*/
    background-color: #f4f4f4;

    /*grid-template-columns: 100px 200px 300px;*/
    /*grid-template-columns: 30% 40% 30%;*/
    /*grid-template-columns: 1fr 1fr 10fr;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    /*grid-template-columns: repeat(4, 100px);*/

    /*column-gap: 20px;*/
    /*row-gap: 5px;*/
    gap: 10px;

    /*grid-auto-rows: 50px;*/
    grid-auto-rows: minmax(50px, auto);

    /*grid-template-rows: 50px 100px 50px;*/
    /*grid-template-rows: repeat(4, 1fr);*/

    /*align-items: stretch;*/
    /*align-items: start;*/
    /*align-items: end;*/
    /*align-items: center;*/

    /*justify-content: end;*/
    /*justify-content: center;*/
    /*justify-content: start;*/
    /*justify-content: space-between;*/
    /*justify-content: space-around;*/
    /*justify-content: space-evenly;*/


    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}

.item {
    border: #333333 1px solid;
    /*height: 100px;*/
}

/*.item:nth-of-type(2){*/
/*    height: 50px;*/
/*    width: 50px;*/

/*    !*align-self: end;*!*/
/*    align-self: center;*/
/*    !*align-self: start;*!*/

/*    justify-self: center;*/
/*    !*justify-self: end;*!*/
/*}*/

.item:nth-of-type(1){
    /*grid-column-start: 1;*/
    /*grid-column-end: 3;*/

    /*grid-column: 1 / 4;*/

    /*grid-column: 1 / span 3;*/

    /*grid-row-start: 1;*/
    /*grid-row-end: 4;*/

}


.item:nth-of-type(3){
    /*grid-row-start: 2;*/
    /*grid-row-end: 4;*/

    /*grid-row: 2 / 4;*/
    /*grid-row: 2 / span 3;*/

}

body {
    display: grid;

    grid-template-areas:
    'header header header'
    'nav content sidebar'
    'nav content sidebar'
    'nav footer sidebar';

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 80px 100px 70px 30px;
}

header, nav, main, .sidebar, footer {
    border: 1px black solid;
    background-color: cadetblue;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}

